@tailwind base;
@tailwind components;
@tailwind utilities;

.Brockmann {
    font-family: 'Brockmann', sans-serif;

}
.Gilroy {
    font-family: 'Gilroy-Medium', sans-serif;
 } 

 .react-multiple-carousel__arrow--right {
    right: -15px;
}

.react-multiple-carousel__arrow--left {
    left: -15px;
}